doctype html
html
	head
		title Random Quote
		meta(charset='UTF-8')
		link(rel='stylesheet', href='css/style.css')
		script(src='js/app-dist.js')

	body

		- var quotes = require(require('path').dirname(prepros.input) + '/data.js')
		.container
			blockquote
				h1#quote
				p#by
			#data
				each quote, i in quotes
					blockquote
						h1(id='quote-' + i) #{quote.content}
						p#by #{quote.by}
